pcb/opticalencoder_mod1/_gerber/
pcb/opticalencoder_mod1/fp-info-cache
pcb/opticalencoder_mod1/opticalencoder_mod1-cache.lib
pcb/opticalencoder_mod1/opticalencoder_mod1.kicad_pcb-bak
pcb/opticalencoder_mod1/opticalencoder_mod1.sch-bak
pcb/opticalencoder_mod1/opticalencoder_mod1_revA-bot.png
pcb/opticalencoder_mod1/opticalencoder_mod1_revA-top.png
